@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Red Hat Display', sans-serif;
}


.container{
 display: grid;
 place-items: center;
 min-height: 100vh;
 background: linear-gradient(rgba(114, 128, 167, 0.4), rgba(114, 128, 167, 0.4)), url(./images/pattern-background-desktop.svg);
 background-repeat: no-repeat;
}

.image svg{
 border-radius: 0.8em 0.8em 0 0;
 max-width: 100%;
}

.content {
 max-width: 398px;
 background: #fff;
 border-radius: 0.8em;
 border: 1px solidhsl(225, 100%, 98%);
}

.order-text{
 margin: 2.2em;
 display: flex;
 flex-direction: column;
 gap: 1.2em;
}

.order{
 text-align: center;
 color: hsl(223, 47%, 23%);
}

.para{
 text-align: center;
 color: hsl(224, 23%, 55%);
 width: 98%;
 font-size: 1rem;
 line-height: 1.3em;
}

.plan{
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-radius: 0.5em;
 background: hsl(225, 100%, 98%);
 padding: 0.9em 1em;
}

.change-text{
 color: hsl(245, 75%, 52%);
 text-decoration: underline;
 font-weight: 600;
 font-size: 0.9rem;
}

.change-text:hover{
 cursor: pointer;
 text-decoration: none;
 color: rgba(56, 41, 224, 0.75);
}

.plan-price{
 display: flex;
 align-items: center;
 gap: 0.8em;
}

.plan-text{
 display: flex;
 flex-direction: column;
 gap: 0.25em;

}
.plan-text h2 {
 color: hsl(223, 47%, 23%);
 font-size: 1rem;
}
.duration{
 color: hsl(224, 23%, 55%);
 font-size: 1rem;
}

.checkout{
 color: #fff;
 background-color: hsl(245, 75%, 52%);
 padding: 1em 2em;
 border-radius: 0.5em;
 border: none;
 box-shadow: 0.5em 1.2em 1em hsl(225, 100%, 94%);
 font-weight: 700;
}

.checkout:hover{
 cursor: pointer;
 background-color: rgba(56, 41, 224, 0.75);
}

.cancel{
 color: hsl(224, 23%, 55%);
 font-weight: 700;
 background-color: #fff;
 margin-top: 1.2em;
 border: none;
}

.cancel:hover{
 font-weight: 700;
 color: hsl(223, 47%, 23%);
 cursor: pointer;
}

@media (max-width: 690px) {
 .container{
   background: linear-gradient(rgba(114, 128, 167, 0.5), rgba(114, 128, 167, 0.5)), url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
 }

 .content{
  margin: 0 1.2em;
 }

 .order-text{
  margin: 1.5em;
 }

 .para {
  text-align: center;
  width: 89%;
  margin-left: 0.8em;
 }

 .cancel{
  margin-top: 0;
  margin-top: 0.7em;
 }
}